h1 {
    font-family: cinzel, sans-serif;
    font-size: 3.3rem;
    font-weight: 800px;
    text-align: center;
    margin-bottom: 1.5rem;
}

body {
    background: url("background.jpg");
    background-size: cover;
    max-width: 600px;
    margin: 2rem auto;
}

.card {
    background: linear-gradient(
        135deg,
        rgba(150, 196, 255, 0.9),
        rgba(255, 180, 226, 0.9)
    );
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 2rem;
    margin: 2rem auto;
    margin-top: 100px;
    max-width: fit-content;
}

form {
    display: block;
    justify-content: center;
    margin-bottom: 100px;
}

textarea {
    font-family: Oswald, sans-serif;
    resize: none;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 150px;
    border: 50px;
    border-radius: 10px;
}

button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 30px;
    font-size: 28px;
    font-family: Oswald, sans-serif;
    cursor: pointer;
    transition-duration: 0.3s ;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

.result {
    font-family: sigmar, sans-serif;
    font-size: 3.5rem;
    margin-top: 100px;
    text-align: center;
}