<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Oswald:wght@200..700&family=Sigmar&display=swap" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">

    <title>Readability</title>
</head>

<body>
    <div class="card">
        <div class="card-inner{% if result %} is-flipped instant{% endif %}" id="card-inner">
        <div class="card-face card-front">
            <h1>Readability Checker</h1>

            <form id="read-form" method="post" action="/">
                <textarea placeholder="Enter text..." name="text" required></textarea>
                <br>
                <button type="submit">Calculate Grade</button>
            </form>
        </div>
        <div class="card-face card-back">
            {% if result %}
            <div class="result">
                {{ result }}
                <button id="back-btn" type="submit">Restart</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("read-form");
        const inner = document.getElementById("card-inner");

        form.addEventListener("submit", e => {
            e.preventDefault()
            inner.classList.add("is-flipped");
            setTimeout(() => form.submit(), 400);
        });
    });
    document.addEventListener("DOMContentLoaded", () => {
        const inner = document.getElementById("card-inner");
        const btn = document.getElementById("back-btn");
        if (btn) {
            btn.addEventListener("click", () => {
                inner.classList.remove("is-flipped", "instant");
                document.querySelector("textarea").value="";
            });
        };
    });
</script>
</body>
</html>